.App {
  text-align: center;
}
#guess{
  height: 655px;
  background: url("../src/binarySearchComponent/guess.webp");
  background-size: auto;
}

#num{
  margin-top: 50px;
  text-align: center;
  margin-right: 330px;
  margin-left: 330px;
  background-color: white;
  padding: 20px;
  border: 5px solid rgb(155, 172, 248);
  border-radius: 25px;
}

#slide{
  padding-top: 40px;
}

#range-slider{
  font-size: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
