body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.simg{
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  height: 25px;
  width: 25px;
  background-image: url("../src/homeComponents/images/go.png");
  background-size: 25px, 25px;
}

.fimg{
  margin-left: 3px;
  display: inline-block;
  height: 25px;
  width: 25px;
  background-image: url("../src/homeComponents/images/finish.png");
  background-size: 25px, 25px;
}
